<div class="container mt-5">
<header class="header"></header>
  <h1 class="mb-4">Book Details</h1>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= @book.title %></h5>
      <p class="card-text"><%= @book.body %></p>
    </div>
  </div>

  <div class="mt-4">
    <%= link_to "Edit", edit_book_path(@book), class: "btn btn-warning" %>
    <%= link_to "Delete", book_path(@book), method: :delete, data: { confirm: "投稿を削除しますか？" }, class: "btn btn-danger ms-2" %>
    <%= link_to "Back to Books", books_path, class: "btn btn-secondary ms-2" %>
  </div>

</div>

<footer class="footer"></footer>